body {
  background-color: #333; 
  font-family: 'Geneva', 'Verdana', sans-serif;
  text-align: center;
  color: #5dce6c; 
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; 
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 1rem;
  width: 70%; 
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

legend {
  background-color: #eee; 
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #ddd; 
}

form input {
  padding: 0.75rem 1rem; 
  border-radius: 0.5rem;
  border: 1px solid #ccc; 
  background-color: #f0f0f0; 
  outline: none;
  font-size: 16px;
  align-self: center;
  width: 70%; 
}

form input[type="submit"] {
  background-color: #2ecc71;
  width: 30%; 
  align-self: center;
  cursor: pointer;
  color: white;
  padding: 1rem;
  margin-bottom: 10px;
  border: none;
  border-radius: 0.5rem;
}

.err {
  color: #e74c3c; 
  font-size: 0.9rem;
}

form label {
  font-weight: 700; 
}

.success {
  background-color: #3498db; 
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  width: 70%; 
  align-self: center;
  padding: 1rem;
  margin-top: 10px;
}
